/* media */
$media-list: (
		'xxs': 375,
		'xs': 560, 
		'sm': 640 ,
		'md': 992,  
		'lg': 1024,
		'xl': 1599,
		'xxl': 1920
);

/* шрифты */
$mainFont: 'Unbounded', sans-serif;

/* цвета */
$fonBlue: #0A5EB2;
$blue: #2879B1;
$blueLight: #6594C1;
$white: #fff;
$red: #E46E6C;
$orange: #BF774E;
$black: #000;
$greyBlack: #242E40;;
