extends layouts/default
include helpers/mixins

block variables
	- const title = "Согласованно"

block content
	.section.start__section
		.start
			h1.start__title.title__100 СОГЛАСОВАННО
			.start__subtitle.title__40 ЗАЛОГОВОЕ КРЕДИТОВАНИЕ
			.start__astronaut
				img(src="img/start__astronaut.png", alt="")
	.section.text__section.text__section--one
		.container
			.text__block 
				p.text__35  
					!="СОГЛАСОВАННО – специализированный оператор рынка залогового кредитования (по нашим собственным программам можно оформить кредит под залог недвижимости)."
				p.text__35  
					!="В рамках нашей стратегии мы выбрали развитие на партнерском канале, а это значит, что мы работаем только с профессиональными брокерами и обеспечиваем высокий стандарт обслуживания и уровня подготовки наших сотрудников."
	
	.section.services__section
		.services__title.title__80 СОГЛАСОВАННО
		.services__subtitle.text__35 РЕАЛИЗУЕТ ПОЛНЫЙ ЦИКЛ РАБОТ С БРОКЕРОМ
		.services__astronaut
			img(src="img/services__astronaut.png", alt="astronaut")
		.services
			.service
				.service__text 
					!="прием первичных документов&nbspи&nbspподготовка предварительного решения по своим программам"
			.service
				.service__text 
					!="КВАЛИФИЦИРОВАННАЯ КОНСУЛЬТАЦИЯ ОПЫТНЫМИ СОТРУДНИКАМИ С ЦЕЛЬЮ УВЕЛИЧЕНИЯ КОНВЕРСИИ ПО ВАШИМ ЗАЯВКАМ И БЫСТРОЕ ОДОБРЕНИЕ"
			.service
				.service__text 
					!="ПОДГОТОВКА КРЕДИТНО-ОБЕСПЕЧИТЕЛЬНОЙ ДОКУМЕНТАЦИИ"
			.service
				.service__text 
					!="ПОДПИСАНИЕ И ГОСУДАРСТВЕННАЯ РЕГИСТРАЦИЯ ДОКУМЕНТОВ"
			.service
				.service__text 
					!="СОГЛАСОВАНИЕ СТРАХОВОГО ТАРИФА"
			.service
				.service__text 
					!="ВЫДАЧА ДЕНЕЖНЫХ СРЕДСТВ И КОНСУЛЬТАЦИЯ ПО ОБСЛУЖИВАНИЮ КРЕДИТА"
		.services__text--bottom
			!='Программы ипотечного кредитования реализуются ООО «СОГЛАСОВАННО» при взаимодействии с Банком ООО КБ «РостФинанс» (Лицензия ЦБ РФ № №481 от 26.09.202) и ПАО КБ "РусьРегионБанк" (Лицензия ЦБ РФ № №685)'
	.section.whoAreWe__section
		.whoAreWe
			.whoAreWe__col
				.whoAreWe__block
					.whoAreWe__title.title__80 КТО МЫ
					.whoAreWe__text.whoAreWe__text--one.text__16
						!="Мы команда молодых (откровенно говоря, уже не очень) банковских сотрудников, имеющих высокую экспертизу в залоговом и ипотечном кредитовании. И нам захотелось сделать свой продукт, который будет удобен ипотечным брокерам."
					
				.whoAreWe__line
				.whoAreWe__block
					.whoAreWe__text.whoAreWe__text--two.text__16
						!="Нам не нравится говорить «вашему Клиенту отказано», мы сделаем все для того, чтобы Ваша заявка была одобрена по нашему продукту. Для нас очень важно помогать бизнесу брокеров: точно рассчитать комиссии и платежи, подсветить причину отказа по Клиенту (редко, но отказы случаются), сохранить конфиденциальность контактной информации, как можно быстрее вывести Клиента на сделку. Проще говоря - готовим сделку под ключ."
				
			.whoAreWe__col
				.whoAreWe__picture 
					img(src="img/whoAreWe__picture.png", alt="")

		.whoAreWe__astronaut
			img(src="img/whoAreWe__astronaut.png", alt="astronaut")
	
	.section.advantages__section
		.advantages
			.advantages__title.title__80
				!="КРЕДИТ ПОД ЗАЛОГ<br> НЕДВИЖИМОСТИ"
			.advantages__text.advantages__text--one.text__16
				!="Россия проходит «метеоритный дождь» из санкций и инфляционных процессов. Время перестройки экономики и мы верим, что скоро, экономика России станет самой сильной во вселенной."
			.advantages__text.advantages__text--two.text__16
				!="Что сейчас? При высокой ключевой ставке снижаются темпы ипотечного кредитования на приобретение недвижимости, многие Клиенты сталкиваются со сложностями в оплате уже взятых кредитов. Многие из них обращаются в микрофинансовые организации и берут займы, для того чтобы оплатить кредит, под огромные ставки! Клиенты попадают в долговую яму, спасти из которой, способен кредит под залог имеющейся недвижимости."
			.advantages__subtitle.title__50
				!="ПРЕИМУЩЕСТВА"
			.advantages__list 
				.advantage
					.advantage__num.title__50 01
					.advantage__text.text__16 Ставка по кредиту много меньше чем в микрофинансовых компаниях или у частных инвесторов
				.advantage
					.advantage__num.title__50 02
					.advantage__text.text__16
						!="Длительный срок такого кредита (как ипотека) позволяет снизить ежемесячный платеж, а тем самым финансовую нагрузку на Заёмщика, позволяет пережить «сложные времена»"
				.advantage
					.advantage__num.title__50 03
					.advantage__text.text__16
						!="Мы лояльны к кредитной истории и рассмотрим заявки даже с наличием текущей просроченной задолженности и поможем ее закрыть"
				.advantage
					.advantage__num.title__50 04
					.advantage__text.text__16
						!="Лимит кредитования в залоговом кредитовании довольно высокий, что позволяет объединить несколько кредитов в один и существенно снизить финансовую нагрузку"
				.advantage
					.advantage__num.title__50 05
					.advantage__text.text__16
						!="В текущей ситуации банки серьезно ужесточают параметры одобрения клиента и процент отказа растет. По нашему продукту один из самых высокий процентов одобрения, на который не влияют ни экономическая, ни политическая ситуация в стране"
				.advantage
					.advantage__num.title__50 06
					.advantage__text.text__16
						!="Кредит под залог недвижимости – «палочка-выручалочка» для малого и среднего бизнеса. Когда складываются неблагоприятные условия для кредитования юридических лиц, индивидуальные предприниматели и собственники бизнеса получают отказы в финансировании, даже если раньше показали отличную платежную дисциплину. При обращении к нам, мы рассмотрим коммерческие помещения без сбора огромного количества документов по бизнесу."
	.section.text__section.text__section--two
		.container
			.text__block 
				p.text__35  
					!="Самое главное, что наша методика оценки платежеспособности Клиента позволяет не звонить на работу Клиенту!"
	.section.conditions__section 
		.conditions 
			.conditions__title.title__80 ЧТО ПО УСЛОВИЯМ
			.conditions__text.text__16
				!="На 01.11.2023 г действует следующая матрица ставок<br>От 19,99% на весь срок кредита (первый месяц 47,99% годовых) <br> <span>*ставка и условия кредитования могут меняться.</span>"
			.conditions__bet
				.conditions__bet__total
					.conditions__bet__total__title 
						!="от <span>19,99</span>% годовых"
			.conditions__astronaut
				img(src="img/conditions__astronaut.png", alt="")
			.conditions__planet--1
				img(src="img/conditions__planet--1.png", alt="")
	.section.products__section
		.products
			.products__col
				.products__picture 
					img(src="img/products__picture.png", alt="")
			.products__col
				.products__block
					.products__title.title__80 СВОЙ СТРАХОВОЙ
					.products__subtitle.title__80 ПРОДУКТ
					.products__text.text__16
						!='СОГЛАСОВАННО совместно с ПАО "Группа Ренессанс Страхование" (лицензия ЦБ РФ - СИ № 1284), запустила свой продукт по страхованию Заёмщиков и имущества. А это значит, что в режиме «одного окна» сотрудники СОГЛАСОВАННО подготовят необходимую страховку для сделки. Тариф по страховке определяется в зависимости от риск-профиля Клиента и Залога.'
				.products__line
				.products__block
					.btn.products__btn Узнать подробнее
	.section.form__section
		.form__title.title__80 ПОДАТЬ ЗАЯВКУ
		.form__text.text__16 Заполните форму ниже, и мы перезвоним Вам в ближайшее время, чтобы обсудить Ваши персональные возмозможни кредитования
		form.form