.fabrication
  .swiper-container.fabrication__swiper.js-fabrication
    .swiper-wrapper
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/video.png" srcset="img/video.png 2x" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery.fabrication__slide__gallery--solo
          img(src="img/video.png", srcset="img/video.png 2x" alt="")
        .fabrication__slide__date.text__18.text__white 5 марта 2023
        .fabrication__slide__title.title__32.text__white Оптимальное вторичное расширение 



  .swiper-buttons.fabrication__swiper-buttons    
    .swiper-button-prev.fabrication-prev
    .swiper-button-next.fabrication-next