.text-block 
  h2 Ключевые качества   
  p
    !='<b>Точность измерений</b> обеспечивается передачей значений твёрдости от Государственных Эталонов Твердости РФ непосредственно портативному твердомеру для металлов, минуя промежуточные звенья государственной поверочной схемы.'
  p 
    !='<b>Прямое измерение по основным шкалам твёрдости</b> (Роквелла, Бринелля, Виккерса и Шора) достигается за счет калибровки только с помощью эталонных мер твердости без использования переводных таблиц, которые "зашиты" в программы других твердомеров, увеличивающих погрешность измерения.'
  p 
    !='<b>Возможность самостоятельно откалибровать твердомер</b> (в течение нескольких минут), что позволяет восстановить точность показаний переносного твердомера при возможном износе механических частей датчика (пружина, боёк) в процессе интенсивной эксплуатации.'
  p 
    !='<b>Удобство передачи и обработки данных на компьютере</b>  достигается за счет подключения твердомера к современному высокоскоростному порту USB и использования эксклюзивного програмного обеспечения.'
  p 
    !='<b>Высокая степень защиты</b> алюминиевого, герметичного, пыле-влагозащищенного, термостойкого корпуса электронного блока.'
  p 
    !='<b>3 года гарантийного обслуживания и последующая техническая поддержка.</b> '
  br
  p 
    !="Ультразвуковой, динамический и комбинированный твердомеры предназначены для неразрушающего контроля твёрдости изделий в цеховых, лабораторных и полевых условиях. Твердомеры достоверно измеряют твердость металлов и сплавов по шкалам твердости:"
  ul 
    li основным: Роквелла (HRC), Бринелля (HB), Виккерса (HV) и Шора (HSD);
    li дополнительным: Роквелла (HRB), Супер-Роквелла (HRN и HRT), Лейба (HL) и другим.
  p 
    !='Позволяют измерять твердость металлов существенно отличающихся по свойствам от стали (алюминиевых, медных сплавов и т.д.) и определять предел прочности на растяжение изделий из углеродистых сталей перлитного класса.'
  p 
    !='Твердомеры <a href="#">зарегистрированы</a> в государственных реестрах утвержденных типов средств измерений России, Украины, Белоруссии и Казахстана, а также в отраслевых реестрах ОАО "РЖД" и Госкорпорации "Росатом".'
  p 
    !='Центр "МЕТ" имеет <a href="#">лицензию</a> на производство твердомеров.'
.text-block 
  h2 Преимущества перед стационарными <br>твердомерами  
  p
    !='<b>Работа с поверхностным слоем металла:</b> cтационарные твердомеры под действием больших нагрузок "продавливают" поверхностный слой, подвергнутый наплавлению, напылению, механической, термической и другим видам поверхностной обработки металла.'
  p
    !='<b>Крупногабаритные изделия и труднодоступные места в изделиях:</b> для стационарных твердомеров подобный контроль твердости недоступен из-за технических и конструкционных ограничений.'
  p
    !='<b>Измерения на месте производства и эксплуатации изделий:</b> портативность позволяет измерять твёрдость изделия непосредственно на месте производства и эксплуатации изделий в цеховых, лабораторных и полевых условиях.'
  p
    !='<b>8 шкал твердости:</b> экспресс-анализ твёрдости изделия по 8-ми различным шкалам твёрдости (в отличии от 1-3 шкал в стационарных твердомерах).'
  p
    !='<b>Высокая производительность:</b> время одного измерения портативным твердомером в 5-10 раз меньше времени измерения стационарным.'
  br 
  .btn.btn--redFull показать еще
  br
  br
  p 
    !="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil pariatur quod corrupti distinctio nostrum odit nobis. Pariatur, sunt soluta. Totam quod atque ducimus a, blanditiis ipsa hic qui pariatur error quam aut magnam illo, sequi esse inventore nam. Explicabo deserunt adipisci facere ex facilis laboriosam magni quidem minus exercitationem aliquam! Error possimus deserunt veritatis sed consectetur quam earum? Aspernatur magnam, corrupti, totam cumque est impedit et, doloremque tenetur expedita rerum nobis. Maxime perspiciatis optio inventore eligendi laborum sunt velit culpa exercitationem vero hic nihil, harum repellat, enim facere! Optio nobis sit veritatis beatae assumenda eaque ipsam eligendi eveniet atque quidem repellendus non laudantium facere qui voluptates illo, at repellat deleniti libero suscipit expedita! Tenetur eos et veritatis molestias optio incidunt dignissimos quae velit corporis, sapiente dicta ducimus earum accusamus qui repellat asperiores in dolor? Ea saepe facere, quod consequuntur aliquam perferendis similique. A pariatur harum, laudantium ipsum, ex architecto dolore distinctio mollitia omnis dolorem qui voluptatibus nesciunt similique sequi hic assumenda quasi vero iure? Explicabo hic nobis adipisci aspernatur ipsa excepturi sed quas officia, facilis voluptatum ad voluptates, odit veritatis dolor temporibus laudantium. Aliquid provident omnis nulla pariatur tenetur numquam placeat eligendi animi exercitationem hic? Quas mollitia minus voluptatum nisi laborum dolorum minima repellendus libero modi quaerat voluptates repellat magni molestiae aperiam doloremque aspernatur non unde aliquid rerum culpa nam ea, explicabo quia. Esse numquam in non eaque, maiores, enim perferendis dolorum, accusamus nulla officiis soluta necessitatibus cum dolor earum alias. Rerum culpa corporis laudantium cumque alias in molestiae hic eligendi quos modi exercitationem soluta voluptates aut repellat, quae qui, ratione facere? Ad laborum consectetur non ab perspiciatis aperiam laudantium? Est rerum earum cum ea enim modi molestiae. Maiores ea perspiciatis sunt facere vel maxime praesentium cumque, delectus aliquam minus suscipit distinctio quidem sapiente! Sunt recusandae ipsam quidem impedit quia ipsa inventore molestiae a, necessitatibus ab dicta voluptatem quam, fuga fugit rerum quod sequi, ea soluta illum animi autem dolorem harum explicabo veritatis. Sequi ex accusantium tempora iusto voluptatem facilis modi aspernatur, perferendis cumque, porro doloremque debitis! Reiciendis provident perspiciatis omnis dolores ducimus laborum nostrum rem eveniet obcaecati suscipit cum a adipisci recusandae odio distinctio quas, eligendi id minus natus sit quod similique. Temporibus eum consectetur iste error alias molestias, obcaecati totam, tempore dicta illum adipisci veritatis, id nobis ullam repellat doloribus eos placeat quod quis quo! Odio nostrum culpa debitis assumenda in cum consequuntur officia eius veritatis! Quia iste provident sit quo blanditiis totam? Rerum inventore quos sunt natus, architecto nobis, quaerat laborum enim, at dolore ut reiciendis ratione explicabo sit praesentium numquam tempore asperiores aspernatur a molestiae. Nobis, omnis dicta similique numquam, totam repellat perspiciatis nam id harum sunt nemo! Reprehenderit maxime explicabo a, officiis suscipit dolore nemo deserunt enim nisi error autem optio consectetur vero possimus impedit cumque veniam magnam culpa? Fuga iste laboriosam, vitae totam minima quas aut porro corrupti distinctio ducimus qui accusamus dolore quam sunt numquam quia id odio quasi laudantium delectus itaque veniam debitis. Architecto soluta dolorem, odit voluptate dignissimos laboriosam id cumque tempore! Consequuntur sapiente voluptas suscipit. In corporis repellendus iusto, illo hic rem qui illum voluptates eos, nobis doloribus, praesentium culpa? Similique et quod doloremque eum quasi nulla laborum, hic doloribus commodi rerum voluptas molestias possimus eius labore cumque quo perspiciatis earum unde nobis. Repellat rem qui nesciunt pariatur ea obcaecati odio officiis, asperiores minus accusamus quos quaerat porro et vel recusandae, vero voluptatibus dolor aspernatur. Rem, nam tenetur. Excepturi explicabo assumenda quos. Ullam inventore neque ipsam ratione quos hic aliquam voluptatum, voluptate voluptatibus voluptas molestias omnis veniam nam illum sapiente, quo dicta, dolores unde nesciunt a? Ipsa eius error sit."