footer.footer
	.footer__text 
		!="Для питания детей раннего возраста предпочтительнее грудное вскармливание. Продукты «Тёма» — питание для детей с 6 месяцев (биотворог, мясные пюре), с 8 месяцев (биолакт, биойогурт, мясные пюре с субпродуктами), в соответствии с законодательством РФ. Перед введением прикорма необходимо проконсультироваться со специалистом."